---
import type { TValuePropositions } from "../../../types";
import StrapiIcon from "../../StrapiIcon.astro";
import Link from "../../Link.astro";
import Heading from "../../Heading.astro";

interface Props {
  block: TValuePropositions | undefined;
}

const { block } = Astro.props;

if (!block) return null;
---

<div class="w-full">
  <Heading level={3} class="mb-15">{block.heading}</Heading>
  <p>{block.subHeading}</p>
  <div class="flex justify-evenly flex-wrap gap-20 md:gap-10">
    {
      block.benefits.map((benefit) => (
        <div class="flex flex-col gap-3 w-[200px]">
          {benefit.icon && (
            <StrapiIcon
              src={benefit.icon.url}
              class="text-white bg-gradient-to-tr from-domain-dark to-domain-regular p-2 rounded-2xl"
              width={70}
              height={70}
            />
          )}
          <Heading level={5}>{benefit.title}</Heading>
          <p>{benefit.description}</p>
        </div>
      ))
    }
  </div>
  <div class="w-full flex justify-evenly">
    {block.cta && <Link {...block.cta} />}
  </div>
</div>
