---
import { Image } from "astro:assets";
import LinkColumn from "./LinkColumn.astro";
import type { TFooter } from "../../types";
import { BASE_API_URL } from "../../utils/url";

interface Props {
  data: TFooter | undefined;
}

const { data } = Astro.props;

if (!data) return null;

const imageUrl = new URL(data.logo.image.url, BASE_API_URL);

const linkColumns = data.linkColumns;
---

<footer class="w-full px-10 text-white text-sm mt-auto">
  <div
    class="py-10 flex items-center flex-wrap gap-10 md:justify-between justify-center"
  >
    <div class="flex flex-col w-[300px] gap-10 md:items-start items-center">
      <Image
        src={imageUrl.href}
        alt={data.logo.image.alternativeText}
        width={200}
        height={200}
      />
      <div class="flex flex-col gap-5">
        {
          data.address && (
            <p class="text-center md:text-start">Address: {data.address}</p>
          )
        }
        {
          data.email && (
            <p class="text-center md:text-start">Email: {data.email}</p>
          )
        }{
          data.phoneNumber && (
            <p class="text-center md:text-start">Call us: {data.phoneNumber}</p>
          )
        }
      </div>
    </div>
    <div class="flex flex-row gap-30 lg:mr-20">
      {linkColumns.map((column) => <LinkColumn data={column} />)}
    </div>
  </div>
  <hr />
  <div class="flex flex-col items-center py-5 text-xs gap-2">
    <p>{data.bottomLeftText}</p>
    <p>{data.bottomRightText}</p>
  </div>
</footer>
